<h1>New Card</h1>

  <h3>Payouts</h3>
 <div class="payouts">
   <p>3 picks pays 6/1</p>
   <p>4 picks pays 10/1</p>
   <p>5 picks pays 20/1</p>
   <p>6 picks pays 40/1</p>
   <p>7 picks pays 80/1</p>
   <p>8 picks pays 100/1</p>
   <p>9 picks pays 150/1</p>
   <p>10 picks pays 300/1</p>
  </div>

  <div class="card">
  <table class="table">
    <thead>
      <tr>
        <th>Favorite</th>
        <th>Point Spread</th>
        <th>Underdog</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="switch">
          <input id="cmn-toggle-1" class="cmn-toggle cmn-toggle-yes-no" type="checkbox">
          <label for="cmn-toggle-1" data-on="SOUTH CAROLINA" data-off="SOUTH CAROLINA"></label>
        </td>

        <td class="spread">3.5</td>

        <td class="switch">
            <input id="cmn-toggle-2" class="cmn-toggle cmn-toggle-yes-no" type="checkbox">
            <label for="cmn-toggle-2" data-on="North Carolina" data-off="North Carolina"></label>
        </td>
      </tr>

      <tr>
        <td class="switch">
          <input id="cmn-toggle-3" class="cmn-toggle cmn-toggle-yes-no" type="checkbox">
          <label for="cmn-toggle-3" data-on="CENT. FLORIDA" data-off="CENT. FLORIDA"></label>
        </td>

        <td class="spread">17</td>

        <td class="switch">
            <input id="cmn-toggle-4" class="cmn-toggle cmn-toggle-yes-no" type="checkbox">
            <label for="cmn-toggle-4" data-on="Florida Int." data-off="Florida Int."></label>
        </td>
      </tr>

      <tr>
        <td class="switch">
          <input id="cmn-toggle-5" class="cmn-toggle cmn-toggle-yes-no" type="checkbox">
          <label for="cmn-toggle-5" data-on="Oklahoma St." data-off="Oklahoma St."></label>
        </td>

        <td class="spread">20.5</td>

        <td class="switch">
            <input id="cmn-toggle-6" class="cmn-toggle cmn-toggle-yes-no" type="checkbox">
            <label for="cmn-toggle-6" data-on="CENT. MICHIGAN" data-off="CENT. MICHIGAN"></label>
        </td>
      </tr>

      <tr>
        <td class="switch">
          <input id="cmn-toggle-7" class="cmn-toggle cmn-toggle-yes-no" type="checkbox">
          <label for="cmn-toggle-7" data-on="UTAH" data-off="UTAH"></label>
        </td>

        <td class="spread">3.5</td>

        <td class="switch">
            <input id="cmn-toggle-8" class="cmn-toggle cmn-toggle-yes-no" type="checkbox">
            <label for="cmn-toggle-8" data-on="Michigan" data-off="Michigan"></label>
        </td>
      </tr>

      <tr>
        <td class="switch">
          <input id="cmn-toggle-9" class="cmn-toggle cmn-toggle-yes-no" type="checkbox">
          <label for="cmn-toggle-9" data-on="Texas Christian" data-off="Texas Christian"></label>
        </td>

        <td class="spread">16</td>

        <td class="switch">
            <input id="cmn-toggle-10" class="cmn-toggle cmn-toggle-yes-no" type="checkbox">
            <label for="cmn-toggle-10" data-on="MINNESOTA" data-off="MINNESOTA"></label>
        </td>
      </tr>

      <tr>
        <td class="switch">
          <input id="cmn-toggle-11" class="cmn-toggle cmn-toggle-yes-no" type="checkbox">
          <label for="cmn-toggle-11" data-on="Duke" data-off="Duke"></label>
        </td>

        <td class="spread">13.5</td>

        <td class="switch">
            <input id="cmn-toggle-12" class="cmn-toggle cmn-toggle-yes-no" type="checkbox">
            <label for="cmn-toggle-12" data-on="TULANE" data-off="TULANE"></label>
        </td>
      </tr>




    </tbody>
  </table>
  <input class="bet" type="text">
    <span class="bet_text">Place your bet</span>
  </input>
  </div>


  <input class="button" value="Save" type="submit" />
